# Bỏ qua thư mục build tĩnh cục bộ (nếu có)
.dist/
dist/
build/

# Bỏ qua các file cấu hình môi trường chứa token bí mật
.env
.env.local

# Bỏ qua các thư mục log hoặc node_modules nếu cài thư viện test cục bộ
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Bỏ qua cấu hình riêng của các IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp